{% extends "simpgo_app/base.html" %}
{% block body_block %}
  <div class="container" style=" padding:2em;">
    <div class="columns">
      <h1 class="title is-1">{{ account.get_full_name }}</h1>
      <div class="column is-6 is-offset-3 box">
        <form enctype="multipart/form-data" method="POST">{% csrf_token %}
          {% for field in user_form %}
            <div class="field">
              <label class="label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
              {{field}}
            </div>
          {% endfor %}
          {% if user.is_staff %}
          	{% for field in profile_form %}
	            <div class="field">
	              <label class="label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
	              {{field}}
	            </div>
          	{% endfor %}
          {% endif %}
          <hr>
          <div class="control">
              <input type="submit" class="button is-success is-fullwidth" name="" value="Registrar">
          </div>
        </form>
    </div>
  </div>
{% endblock %}
