{% extends "simpgo_app/base.html" %}
{% block after_nav %}
  <section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
            {{ account.get_full_name }}
        </h1>
          <h2 class="subtitle">Cuenta #{{account.id}} </h2>
      </div>
    </div>
  </section>
{% endblock %}
{% block body_block %}
  <div class="container" style=" padding:2em;">
    <div class="columns">
      <div class="column is-6 is-offset-3 box">
        <form enctype="multipart/form-data" method="POST">{% csrf_token %}
          {% for field in user_form %}
            <div class="field">
              <label class="label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
              {{field}}
            </div>
          {% endfor %}
          {% if user.is_staff %}
          	{% for field in profile_form %}
          		<div class="field">
          			<label class="label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
          			<div class="control">
		              <div class="select is-fullwidth">
		              	{{field}}
		              </div>
		            </div>
          		</div>
          	{% endfor %}
          {% endif %}
          <hr>
          <div class="control">
              <input type="submit" class="button is-success is-fullwidth" name="" value="Cambiar">
          </div>
        </form>
    </div>
  </div>
{% endblock %}
