{% extends "simpgo_app/base.html" %}
{% load humanize %}
{% load widget_tweaks %}
{% block helpdesk_head %}
  <script language="JavaScript">
    function toggle(source) {
      checkboxes = document.getElementsByName('ticket_id');
      for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
      }
    }
  </script>
{% endblock %}
{% block after_nav %}
  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
            Mis Tickets
        </h1>
          <h2 class="subtitle">Todos los Tickets</h2>
      </div>
    </div>
  </section>
{% endblock %}
{% block body_body %}
    <div class="container" style="padding:2em; margin:2em;">
      {% if tickets %}
      <div class="columns">
        <div class="column is-12 box">
          <center>

            <p class="title" align="center">Solicitudes</p>
            <hr>

            <form action="" method="GET">
              <div class="field is-grouped">
                  <p class="control is-expanded">
                      <label class="label" for="">&nbsp;</label>
                    {% render_field filter.form.id class="input" placeholder="#ID" %}
                  </p>
                  <p class="control is-expanded">
                      <label class="label" for="">&nbsp;</label>
                    {% render_field filter.form.title class="input" placeholder="Contiene el Titulo..." %}
                  </p>
                  <p class="control is-expanded">
                      <label class="label" for="">&nbsp;</label>
                      {% render_field filter.form.created_by__user__username class="input" placeholder="Creado Por..." %}
                  </p>
                  {% if user.is_staff %}
                  <div class="field">
                      <div class="control">
                        <label class="label" for="">Asignado:</label>
                        <div class="select is-fullwidth">
                            {% render_field filter.form.assigned_to %}
                        </div>
                      </div>
                  </div>
                  &nbsp;&nbsp;
                  {% endif %}
                  <div class="field">
                      <div class="control">
                        <label class="label" for="">Creado En:</label>
                        <div class="select is-fullwidth">
                            {% render_field filter.form.created_by__department %}
                        </div>
                      </div>
                  </div>
                  &nbsp;&nbsp;
                  {% if user.is_staff %}   
                  <div class="field">
                      <div class="control">
                        <label class="label" for="">Para Depto:</label>
                        <div class="select is-fullwidth">
                            {% render_field filter.form.assigned_to__department %}
                        </div>
                      </div>
                  </div>
                  &nbsp;&nbsp; 
                  <div class="field">
                      <div class="control">
                        <label class="label" for="">Estatus:</label>
                        <div class="select is-fullwidth">
                            {% render_field filter.form.status %}
                        </div>
                      </div>
                  </div>
                  &nbsp;&nbsp;
                  <div class="field">
                      <div class="control">
                        <label class="label" for="">Eliminado:</label>
                        <div class="select is-fullwidth">
                            {% render_field filter.form.deleted %}
                        </div>
                      </div>
                  </div>
                  &nbsp;&nbsp;
                  {% endif %}
                  <p class="control">
                      <label class="label" for="">&nbsp;</label>
                    <button type="submit" class="button is-info">Filtrar</button>
                  </p>
              </div>
            </form>

            <form method="POST" action="{% url 'all_tickets' %}">{% csrf_token %}
              <table class="table is-narrow is-hoverable is-fullwidth">
                <thead>
                  <tr class="">
                    <th><input type="checkbox" onClick="toggle(this)"/></th>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Prioridad</th>
                    <th>Creado</th>
                    <th>Creado Por</th>
                    {% if user.is_staff %}
                      <th>Asignado a</th>
                    {% endif %}
                    <th>De Depto</th>
                    {% if user.is_staff %}
                      <th>Para Depto</th>
                    {% endif %}
                    <th>Estatus</th>
                    {% if user.is_staff %}
                        <th>Eliminado</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  {% for ticket in tickets %}
                    <tr>
                      <td><input name='ticket_id' value='{{ ticket.id }}' type="checkbox"></td>
                      <th>{{ticket.id}}</th>
                      <td><a href="{% url 'ticket_view' ticket.id %}" title="{{ticket.title}}">{{ticket.title}}</a> </td>
                      <td>{{ticket.get_priority_display}}</td>
                      <td>{{ticket.created|naturaltime}}</td>
                      <td>{{ticket.created_by.user.username}}</td>
                      {% if user.is_staff %}
                        <td>{{ticket.assigned_to}}</td>
                      {% endif %}
                      <td>{{ticket.created_by.department.name}}</td>
                      {% if user.is_staff %}
                        <td>{{ticket.description.department.name}}</td>
                      {% endif %}
                      <td>{{ticket.get_status_display}}</td>
                      {% if user.is_staff %}
                        <td>{{ ticket.deleted }}</td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                  {% if tickets.has_previous %}
                    {% if 'status' in request.get_full_path %}
                      <a href="{{ request.get_full_path }}&page={{ tickets.previous_page_number }}" class="pagination-previous">Anterior</a>
                    {% else %}
                      <a href="?page={{ tickets.previous_page_number }}" class="pagination-previous">Anterior</a>
                    {% endif %}
                  {% else %}
                    <a class="pagination-previous" disabled >Anterior</a>
                  {% endif %}
  
                  {% if tickets.has_next %}
                    {% if 'status' in request.get_full_path %}
                      <a href="{{ request.get_full_path }}&page={{ tickets.next_page_number }}" class="pagination-next">Siguiente</a>
                    {% else %}
                      <a href="?page={{ tickets.next_page_number }}" class="pagination-next">Siguiente</a>
                    {% endif %}
                  {% else %}
                    <a class="pagination-next" disabled >Siguiente</a>
                  {% endif %}
  
                  <ul class="pagination-list">
                    <li><a class="pagination-link is-current">Pagina {{ tickets.number }} de {{ tickets.paginator.num_pages }}</a></li>
                  </ul>
              </nav>
              <hr>
              <div class="field has-addons">
                  <input type="submit" class="button is-dark" name="cancel" value="Eliminar Ticket">
                  &nbsp;&nbsp;
                  <div class="control">
                    <div class="select">
                      <select name="status">
                        <option value="0">Cambiar Estatus</option>
                        <option value="1">Abierto</option>
                        <option value="2">En Proceso</option>
                        <option value="3">Cerrado</option>
                        <option value="4">Rechazado</option>
                      </select>
                    </div>
                  </div>
                  <div class="control">
                    <button type="submit" name="change" class="button is-info">Cambiar</button>
                  </div>
              </div>
            </form>
          </center>
        </div>
      </div>
      {% else %}
        <div class="notification is-primary is-fullwidth is-fullheight">
          <form method="POST" action="{% url 'all_tickets' %}">{% csrf_token %}
            <div class="is-right">
              <button type="submit" name="seeall"
              class="is-primary button disabled">No Hay Ningun Ticket Solicitado</button>
              <button type="submit" name="seeall"
              class="is-dark button">Ver Historial</button>
            </form>
            </div>
        </div>
      {% endif %}
    </div>
{% endblock %}