{% extends "simpgo_app/base.html" %}
{% load humanize %}
{% block helpdesk_head %}
  <script language="JavaScript">
    function toggle(source) {
      checkboxes = document.getElementsByName('ticket_id');
      for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
      }
    }
  </script>
{% endblock %}
{% block after_nav %}
  <section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
            Mis Tickets
        </h1>
          <h2 class="subtitle">Todos los Tickets</h2>
      </div>
    </div>
  </section>
{% endblock %}
{% block body_body %}
    <div class="buttons has-addons is-right" style="margin-top:15px;">
      <form method="POST" action="{% url 'all_tickets' %}">{% csrf_token %}
        <button type="submit" name="seeall" class="button is-medium is-success is-outlined">Ver Todos Los Tickets</button>
      </form>
    </div>
    <div class="container" style="padding:1em;">
      <div class="columns">
        <div class="column is-12 box">
          <center>
            <form method="POST" action="{% url 'all_tickets' %}">{% csrf_token %}
                <p class="title" align="center">Solicitudes</p>
                <hr>
                <!-- <div class="field is-grouped">
                    <p class="control is-expanded">
                        <input class="input" name="search_id"  type="number" placeholder="ID">
                    </p>
                    <p class="control is-expanded">
                        <input class="input" name="title" type="text" placeholder="Titulo">
                    </p>
                    <p class="control">
                        <div class="select">
                          <select name="department" >
                            <option>Direcciones</option>
                            {% for d in department %}
                              <option>{{ d.name }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </p>
                  &nbsp;&nbsp;
                  <p class="control is-expanded">
                    <input class="input" name="user" type="text" placeholder="Usuario">
                  </p>
                  <p class="control">
                      <div class="select">
                        <select name="search_status" >
                          <option>Estatus</option>
                          <option value="0">Todos</option>
                          <option value="1">Abierto</option>
                          <option value="2">En Proceso</option>
                          <option value="3">Cerrado</option>
                          <option value="4">Rechazado</option>
                        </select>
                      </div>
                    </p>
                    &nbsp;&nbsp;
                  <p class="control">
                    <button type="submit" name="search" class="button is-info">Buscar</button>
                  </p>
                </div> -->
              <table class="table is-narrow is-hoverable is-fullwidth">
                <thead>
                  <tr class="">
                    <th><input type="checkbox" onClick="toggle(this)"/></th>
                    <th><abbr title="Position">ID</abbr></th>
                    <th>Titulo</th>
                    <th><abbr title="Played">Prioridad</abbr></th>
                    <th>Dirección</th>
                    <th><abbr title="Drawn">Fecha</abbr></th>
                    <th><abbr title="Drawn">Creado Por</abbr></th>
                    <th><abbr title="Lost">Estatus</abbr></th>
                  </tr>
                </thead>
                <tbody>
                  {% for ticket in tickets %}
                    <tr>
                      <td><input name='ticket_id' value='{{ ticket.id }}' type="checkbox"></td>
                      <th>{{ticket.id}}</th>
                      <td><a href="{% url 'ticket_view' ticket.id %}" title="{{ticket.title}}">{{ticket.title}}</a> </td>
                      <td>{{ticket.get_priority_display}}</td>
                      <td>{{ticket.created_by.profile.department.management}}</td>
                      <td>{{ticket.created|naturaltime}}</td>
                      <td>{{ticket.created_by.username}}</td>
                      <td>{{ticket.get_status_display}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              <div class="field has-addons">
                  <input type="submit" class="button is-dark" name="cancel" value="Eliminar Ticket">
                  &nbsp;&nbsp;
                  <div class="control">
                    <div class="select">
                      <select name="status">
                        <option value="0">Cambiar Estatus</option>
                        <option value="1">Abierto</option>
                        <option value="2">En Proceso</option>
                        <option value="3">Cerrado</option>
                        <option value="4">Rechazado</option>
                      </select>
                    </div>
                  </div>
                  <div class="control">
                    <button type="submit" name="change" class="button is-info">Cambiar</button>
                  </div>
              </div>
            </form>
          </center>
        </div>
      </div>
    </div>
{% endblock %}