{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simpgo Helpdesk</title>
    <!-- Latest compiled and minified CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {% block helpdesk_head %}
    {% endblock %}
  </head>
  <body style="height:746px;">
    <nav class="navbar is-spaced is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">

          <a class="navbar-item" href="{% url 'index' %}">
            <span class="icon has-text-primary">
              <i class="fas fa-2x fa-h-square"></i>
            </span>
             &nbsp;&nbsp;
            <span class="is-hidden-desktop-only">
              <font size="5"> <strong>Simpgo</strong></font>
            </span>&nbsp;
          </a>
      
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
                {# Django Home Link / Admin Link / Register Link#}

                {% if user.profile.is_worker and user.is_authenticated %}
                  <div class="navbar-end">

                    {% if user.is_staff %}
                      <a class="navbar-item" href="{% url 'departments' %}">
                            <span class="icon has-text-primary">
                                  <i class="fas fa-hotel"></i>
                            </span>
                            <span> Departamentos</span>
                      </a>

                      <a class="navbar-item" href="{% url 'users' %}">
                        <span class="icon has-text-primary">
                              <i class="fas fa-users"></i>
                        </span>
                        <span> Usuarios</span>
                      </a>
                    {% endif %}

                    {%  if user.profile.is_superviser  %}
                      <a class="navbar-item" href="{% url 'supervise_ticket' %}">
                          <span class="icon has-text-primary">
                                <i class="fas fa-user-plus"></i>
                          </span>
                          <span> Supervisación de Tickets</span>
                      </a>  
                    {% endif %}

                    <a class="navbar-item" href="{% url 'create_user' %}">
                        <span class="icon has-text-primary">
                              <i class="fas fa-user-plus"></i>
                        </span>
                        <span> Creación Usuarios</span>
                    </a>

                    <a class="navbar-item" href="{% url 'all_tickets' %}">
                      <span class="icon has-text-primary">
                            <i class="fas fa-clipboard-list"></i>
                      </span>
                      <span>Tickets</span>
                    </a>

                    <a class="navbar-item" href="{% url 'create_ticket' %}">
                      <span class="icon has-text-primary">
                        <i class="fas fa-plus-square"></i>
                      </span>
                      <span>Crear Ticket</span>
                    </a>

                    <div class="navbar-item has-dropdown is-hoverable">
                      <a class="navbar-link">
                        <span class="icon has-text-primary">
                          <i class="fas fa-user-tie"></i>
                        </span>
                        <span>{{user.username}}</span>
                      </a>
                      <div class="navbar-dropdown is-right">
                        <a class="navbar-item" href="{% url 'account' user.id %}">
                          Cuenta
                        </a>
                        <a class="navbar-item" href="{% url 'admin:index' %}">
                          Admin
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{% url 'logout' %}">
                          Cerrar Sesión
                        </a>
                      </div>
                    </div>

                  </div>

                {% elif user.is_authenticated %}
                  <div class="navbar-end">

                      {%  if user.profile.is_superviser  %}
                        <a class="navbar-item" href="{% url 'supervise_ticket' %}">
                            <span class="icon has-text-primary">
                                  <i class="fas fa-eye"></i>
                            </span>
                            <span> Supervisación de Tickets</span>
                        </a>  
                      {% endif %}

                      <a class="navbar-item" href="{% url 'my_tickets' %}">
                        <span class="icon has-text-primary">
                          <i class="fas fa-clipboard-list"></i>
                        </span>
                        <span>Mis Tickets</span>
                      </a>

                      <a class="navbar-item" href="{% url 'create_ticket' %}">
                        <span class="icon has-text-primary">
                            <i class="fas fa-plus-square"></i>
                        </span>
                        <span>Crear Ticket</span>
                      </a>

                    <div class="navbar-item has-dropdown is-hoverable">
                      <a class="navbar-link">
                        <span class="icon has-text-primary">
                            <i class="fas fa-user-alt"></i>
                        </span>
                        <span>{{user.username}}</span>                      
                      </a>
                        
                      <div class="navbar-dropdown is-right">
                        <a class="navbar-item" href="{% url 'account' user.id %}" >
                          Cuenta
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{% url 'logout' %}" >
                          Cerrar Sesión
                        </a>
                      </div>
                    </div>
                  </div>
                {% else %}
                    <div class="navbar-end">
                      <div class="navbar-item">
                        <div class="buttons">
                          <a class="button is-black" href="{% url 'register' %}">
                            <strong>Registrar</strong>
                          </a>
                          <a class="button is-light" href="{% url 'user_login' %}">
                            <strong>Ingresar</strong>
                          </a>
                        </div>
                      </div>
                    </div>
                  {% endif %}
        </div>
      </nav>
      {% block after_nav %}
      {% endblock %}
      <div class="container">
        {% block body_block %}
        {% endblock %}
      </div>
      <div class="container">
        {% block body_body%}
        {% endblock %}
      </div>
      <footer class="footer" style="background-color:#363636;" >
        <div class="content has-text-centered is-dark">
          <p style="color:#f2f2f2;">
            <strong style="color:#f2f2f2;">Simpgo Helpdesk</strong> por <a href="https://github.com/aarellanoj/Simpgo">Alexander Arellano</a>. Codigo licenciado por
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
          </p>
        </div>
      </footer>
  </body>
</html>