{% extends "simpgo_app/base.html" %}
{% load humanize %}
{% block after_nav %}
  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
            Departamentos
        </h1>
          <h2 class="subtitle">Modificacion y Creacion de Despartamentos</h2>
      </div>
    </div>
  </section>
{% endblock %}
{% block body_body %}
  {% if department_form %}
    <div class="container" style="padding:2em; margin:2em;" >
        <div class="columns">
            <div class="column is-6 is-offset-3 box">
                <form action="./" method="post">{% csrf_token %}
                    <div class="field">
                        <label class="label" for="{{ department_form.name.id_for_label }}">{{ department_form.name.label }}:</label>
                        {{department_form.name}}
                    </div>
                    <div class="field">
                        <label class="label" for="{{ department_form.management.id_for_label }}">{{ department_form.management.label }}:</label>
                        <div class="control">
                          <div class="select is-fullwidth">
                            {{department_form.management}}
                          </div>
                        </div>
                    </div>
                    <hr>
                    <div class="control">
                        <input type="submit" class="button is-primary is-fullwidth" name="" value="Guardar">
                    </div>
                </form>
            </div>
        </div>
    </div>
  {% endif %}
  {% if management_form %}
    <div class="container" style="padding:2em; margin:2em;" >
        <div class="columns">
            <div class="column is-6 is-offset-3 box">
                <form action="./" method="post">{% csrf_token %}
                    <div class="field">
                        <label class="label" for="{{ management_form.name.id_for_label }}">{{ management_form.name.label }}:</label>
                        {{management_form.name}}
                    </div>
                    <hr>
                    <div class="control">
                        <input type="submit" class="button is-primary is-fullwidth" name="" value="Guardar">
                    </div>
                </form>
            </div>
        </div>
    </div>
  {% endif %}
{% endblock %}