{% extends "simpgo_app/base.html" %}
{% block body_block %}
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to the Djungle !</h1>
            {% if user.is_authenticated %}
                <h2>Que es lo que es {{ user.get_full_name }}</h2>
            {% else %}
                <h2>¡Registrate o Logeate!</h2>
            {% endif %}
        </div>
    </div>
{% endblock%}
{% block body_body %}
    <div class="container">
        <form action="" method="post">{% csrf_token %}
            {{ticket_form.as_p}}
            <input type="submit" class="btn-lg btn btn-primary" name="" value="Enviar">
        </form>
    </div>
{% endblock %}