{% extends "simpgo_app/base.html" %}
{% block after_nav %}
    <section class="hero is-primary is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Creación del Ticket
            </h1>
              <h2 class="subtitle"> {{ user.get_full_name }}</h2>
          </div>
        </div>
    </section>
{% endblock%}
{% block body_body %}
    <div class="container" style="padding:2em; margin:2em;" >
        <div class="columns">
            <div class="column is-6 is-offset-3 box">
                <form action="" method="post">{% csrf_token %}
                    <div class="field">
                        <label class="label" for="{{ ticket.title.id_for_label }}">{{ ticket_form.title.label }}:</label>
                        {{ticket_form.title}}
                    </div>
                    <div class="field">
                        <label class="label" for="{{ ticket.content.id_for_label }}">{{ ticket_form.content.label }}: {{ ticket_form.content.errors }}</label>
                        {{ticket_form.content}}
                    </div>
                    <div class="field">
                        <label class="label" for="{{ ticket_form.description.id_for_label }}">{{ ticket_form.description.label }}:</label>
                        <div class="control">
                          <div class="select is-fullwidth">
                            {{ticket_form.description}}
                          </div>
                        </div>
                    </div>
                    <!-- <div class="file">
                        <label class="file-label">
                            {{ticket_form.image_file}}
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Seleccione un Archivo...
                                </span>
                            </span>
                        </label>
                    </div> -->
                    <hr>
                    <div class="control">
                        <input type="submit" class="button is-primary is-fullwidth" name="" value="Enviar">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}