{% extends "simpgo_app/base.html" %}
{% load humanize %}
{% block helpdesk_head %}
  <script language="JavaScript">
    function toggle(source) {
      checkboxes = document.getElementsByName('ticket_id');
      for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
      }
    }

    function toggle2(source) {
      checkboxes = document.getElementsByName('ticket_id2');
      for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
      }
    }
  </script>
{% endblock %}
{% block after_nav %}
  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
            Mis Tickets
        </h1>
          <h2 class="subtitle">Todos los Tickets de {{ user.get_full_name }}</h2>
      </div>
    </div>
  </section>
{% endblock %}
{% block body_body %}
  {% if user.is_authenticated %}

    <div class="container" style="padding:0.5em 2em 2em 2em; margin:0em 2em 2em 2em;">
        <div class="tabs">
            <ul>
              <li {% if 'in-process' in request.get_full_path %} class="is-active" {% endif %} ><a href="{% url 'my_tickets' %}" >Solicitudes Pendientes</a></li>
              <li {% if 'processed' in request.get_full_path %} class="is-active" {% endif %}  ><a href="{% url 'my_tickets_pro' %}" >Solicitudas Procesadas</a></li>
              <li {% if 'history' in request.get_full_path %} class="is-active" {% endif %} ><a href="{% url 'my_tickets_history' %}" >Historial Completo</a></li>
              {% if request.user.profile.is_superviser %}
                <li {% if 'supervise' in request.get_full_path %} class="is-active" {% endif %} ><a href="{% url 'supervise_ticket' %}"> Supervisión de Tickets </a></li>
              {% endif %}
            </ul>
          </div>
      {% if tickets_pro %}
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <center>
            <form method="POST" action="{% url 'my_tickets' %}">{% csrf_token %}
              <p class="title" align="center">Solicitudes Procesadas</p>
              <hr>
              <table class="table is-narrow is-hoverable is-fullwidth">
                <thead>
                  <tr class="">
                    <th><input type="checkbox" onClick="toggle(this)"/></th>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Asignado a</th>
                    <th>Creado</th>
                    <th>Estatus</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ticket in tickets_pro %}
                    <tr>
                      <td><input name='ticket_id' value='{{ ticket.id }}' type="checkbox"></td>
                      <th>{{ticket.id}}</th>
                      <td><a href="{% url 'ticket_view' ticket.id %}" title="{{ticket.title}}">{{ticket.title}}</a> </td>
                      <td>{{ticket.assigned_to}}</td>
                      <td>{{ticket.created|naturaltime}}</td>
                      <td>{{ticket.get_status_display}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                  {% if tickets_pro.has_previous %}
                    <a href="?page={{ tickets_pro.previous_page_number }}" class="pagination-previous">Anterior</a>
                  {% else %}
                    <a class="pagination-previous" disabled >Anterior</a>
                  {% endif %}
  
                  {% if tickets_pro.has_next %}
                    <a href="?page={{ tickets_pro.next_page_number }}" class="pagination-next">Siguiente</a>
                  {% else %}
                    <a class="pagination-next" disabled >Siguiente</a>
                  {% endif %}
  
                  <ul class="pagination-list">
                    <li><a class="pagination-link is-current">Pagina {{ tickets_pro.number }} de {{ tickets_pro.paginator.num_pages }}</a></li>
                  </ul>
              </nav>
              <hr>
              <div class="control">
                  <input type="submit" class="button is-dark" name="remove" value="Eliminar de Bandeja">
              </div>
            </form>
          </center>
        </div>
      </div>
      <br>
      {% endif %}

      {% if tickets %}
      <div class="columns">
        <div class="column is-8 is-offset-2 ">
          <center>
            <form method="POST" action="{% url 'my_tickets' %}">{% csrf_token %}
                <p class="title" align="center">Solicitudes Pendientes</p>
                <hr>
              <table class="table is-narrow is-hoverable is-fullwidth">
                <thead>
                  <tr class="">
                    <th><input type="checkbox" onClick="toggle2(this)"/></th>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Asignado a</th>
                    <th>Creado</th>
                    <th>Estatus</th>
                    <th style="text-align:center;" >Supervisado</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ticket in tickets %}
                    <tr>
                      <td><input name='ticket_id2' value='{{ ticket.id }}' type="checkbox"></td>
                      <th>{{ticket.id}}</th>
                      <td><a href="{% url 'ticket_view' ticket.id %}" title="{{ticket.title}}">{{ticket.title}}</a> </td>
                      <td>{{ticket.assigned_to}}</td>
                      <td>{{ticket.created|naturaltime}}</td>
                      <td>{{ticket.get_status_display}}</td>

                      {% if ticket.is_supervised %}
                        <td style="text-align:center;">
                          <span class="icon has-text-success">
                            <i class="fas fa-check-circle"></i>
                          </span>
                        </td>
                      {% else %}
                        <td style="text-align:center;">
                          <span class="icon has-text-danger">
                            <i class="fas fa-times-circle"></i>
                          </span>
                        </td>
                      {% endif %}

                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                  {% if tickets.has_previous %}
                    <a href="?page={{ tickets.previous_page_number }}" class="pagination-previous">Anterior</a>
                  {% else %}
                    <a class="pagination-previous" disabled >Anterior</a>
                  {% endif %}
  
                  {% if tickets.has_next %}
                    <a href="?page={{ tickets.next_page_number }}" class="pagination-next">Siguiente</a>
                  {% else %}
                    <a class="pagination-next" disabled >Siguiente</a>
                  {% endif %}
  
                  <ul class="pagination-list">
                    <li><a class="pagination-link is-current">Pagina {{ tickets.number }} de {{ tickets.paginator.num_pages }}</a></li>
                  </ul>
              </nav>
              <hr>
              <div class="control">
                  <input type="submit" class="button is-dark" name="cancel" value="Cancelar Ticket">
              </div>
            </form>
          </center>
        </div>
      </div>
      {% endif %}

      {% if history %}
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <center>
            <form method="POST" action="{% url 'my_tickets' %}">{% csrf_token %}
                <p class="title" align="center">Todas Las Solicitudes</p>
                <hr>
              <table class="table is-narrow is-hoverable is-fullwidth">
                <thead>
                  <tr class="">
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Asignado a</th>
                    <th>Creado</th>
                    <th>Estatus</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ticket in history %}
                    <tr>
                      <th>{{ticket.id}}</th>
                      <td><a href="{% url 'ticket_view' ticket.id %}" title="{{ticket.title}}">{{ticket.title}}</a> </td>
                      <td>{{ticket.assigned_to}}</td>
                      <td>{{ticket.created|naturaltime}}</td>
                      <td>{{ticket.get_status_display}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                {% if history.has_previous %}
                  <a href="?page={{ history.previous_page_number }}" class="pagination-previous">Anterior</a>
                {% else %}
                  <a class="pagination-previous" disabled >Anterior</a>
                {% endif %}

                {% if history.has_next %}
                  <a href="?page={{ history.next_page_number }}" class="pagination-next">Siguiente</a>
                {% else %}
                  <a class="pagination-next" disabled >Siguiente</a>
                {% endif %}

                <ul class="pagination-list">
                  <li><a class="pagination-link is-current">Pagina {{ history.number }} de {{ history.paginator.num_pages }}</a></li>
                </ul>
              </nav>
            </form>
          </center>
        </div>
      </div>
      {% endif %}

      {% if tickets_sup %}
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <center>
            <form method="POST" action="{% url 'my_tickets' %}">{% csrf_token %}
                <p class="title" align="center">Supervisión de Solcitudes</p>
                <hr>
              <table class="table is-narrow is-hoverable is-fullwidth">
                <thead>
                  <tr class="">
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Asignado a</th>
                    <th>Creado</th>
                    <th>Estatus</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ticket in tickets_sup %}
                    <tr>
                      <th>{{ticket.id}}</th>
                      <td><a href="{% url 'ticket_view' ticket.id %}" title="{{ticket.title}}">{{ticket.title}}</a> </td>
                      <td>{{ticket.assigned_to}}</td>
                      <td>{{ticket.created|naturaltime}}</td>
                      <td>{{ticket.get_status_display}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                {% if tickets_sup.has_previous %}
                  <a href="?page={{ tickets_sup.previous_page_number }}" class="pagination-previous">Anterior</a>
                {% else %}
                  <a class="pagination-previous" disabled >Anterior</a>
                {% endif %}

                {% if tickets_sup.has_next %}
                  <a href="?page={{ tickets_sup.next_page_number }}" class="pagination-next">Siguiente</a>
                {% else %}
                  <a class="pagination-next" disabled >Siguiente</a>
                {% endif %}

                <ul class="pagination-list">
                  <li><a class="pagination-link is-current">Pagina {{ tickets_sup.number }} de {{ tickets_sup.paginator.num_pages }}</a></li>
                </ul>
              </nav>
            </form>
          </center>
        </div>
      </div>
      {% endif %}

      {% if not history and not tickets_pro and not tickets and not tickets_sup %}
          <div class="notification is-primary is-fullwidth is-fullheight">
            <h3 class="is-title is-3">Felicidades No Tienes Ningun Ticket.</h3>
          </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}