{% extends "simpgo_app/base.html" %}
{% load widget_tweaks %}
{% block body_block %}
  {% if registered %}
  <section class="hero is-primary is-fullwidth is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
            ¡Registro Exitoso!
        </h1>
          <h2 class="subtitle">Espere a que su Cuenta sea Habilitada por los Administradores</h2>
      </div>
    </div>
  </section>
  {% else %}
    <div class="container" style="padding:2em; margin:2em;">
      <div class="columns">
        <div class="column is-6 is-offset-3 box">
          {% if user_form.errors %}
            <div class="notification is-warning">
                <a href="./" class="delete" ></a>
                {{user_form.errors}}
            </div>
          {% endif %}
          <form enctype="multipart/form-data" method="POST">{% csrf_token %}
            <p class="title" align="center">Resgistrate</p>
            <hr>
              <div class="field">
                <label class="label" for="{{ user_form.username.id_for_label }}">{{ user_form.username.label }}:</label>
                {% render_field user_form.username %}
              </div>
              <div class="field">
                  <label class="label" for="{{ user_form.first_name.id_for_label }}">{{ user_form.first_name.label }}:</label>
                  {% render_field user_form.first_name %}
              </div>
              <div class="field">
                  <label class="label" for="{{ user_form.last_name.id_for_label }}">{{ user_form.last_name.label }}:</label>
                  {% render_field user_form.last_name %}
              </div>
              <div class="field">
                  <label class="label">Contraseña: <font size="1px" color="grey">Debe Contener al Menos 6 Caracteres y Números</font> </label>
                  {{user_form.password}}
              </div>
              <div class="field">
                  <label class="label" for="{{ user_form.email.id_for_label }}">{{ user_form.email.label }}:</label>
                  {{user_form.email}}
              </div>
            <hr>
            <div class="control">
                <input type="submit" class="button is-primary is-fullwidth" name="" value="Registrar">
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}