{% extends "simpgo_app/base.html" %}
{% block helpdesk_head %}
  <script language="JavaScript">

    function showImage() {
      document.getElementById('imageModal').classList.add('is-active');
    }
    function hideImage() {
      document.getElementById('imageModal').classList.remove('is-active');
    }

    function showResponse(id) {
      var elem = 'responseModal' + id
      document.getElementById(elem).classList.add('is-active');
    }
    function hideResponse(id) {
      var elem = 'responseModal' + id
      document.getElementById(elem).classList.remove('is-active');
    }

  </script>
{% endblock %}
{% block after_nav %}
  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
            #{{ ticket.id }} .- {{ ticket.title }}
        </h1>
          <h2 class="subtitle">Tipo de Falla -> {{ticket.description}} </h2>
      </div>
    </div>
  </section>
{% endblock %}
{% block body_block %}
    <div class="container box" style="padding:2em; margin:2em 2em 0.5em 2em; ">
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Creado Por</p>
              <p class="title">{{ticket.created_by.user.username}}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Estatus</p>
              <p class="title">{{ticket.get_status_display}}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Asignado a</p>
              <p class="title">{{ ticket.assigned_to }}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Fecha de Creación</p>
              <p class="title">{{ticket.created}}</p>
            </div>
          </div>
        </nav>
    </div>
{% endblock%}
{% block body_body %}
  <br>
  <!-- Solicitud -->
  <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="font-size:20px;" >
            <strong>Solicitud de {{ticket.created_by.user.get_full_name}} &#128071</strong>
            <br>
            {{ticket.content}}
            <br>
            {% if ticket.image_file %}
              <br>
              <input type="button" class="button is-link is-rounded" onClick="showImage();" value="Ver Imagen"/>
              <div class="modal" id="imageModal">
                <div class="modal-background"></div>
                <div class="modal-content" style="width:72%;" >
                  <p class="image">
                    <img src="{{ ticket.image_file.url }}" alt="">
                  </p>
                </div>
                <button class="modal-close is-large" onClick="hideImage();" aria-label="close"></button>
              </div>
            {% endif %}
          </p>
        </div>
      </div>
  </article>
  <!-- Fin Solicitud -->

  <!-- Divisor -->
  <hr>

  <!-- Respuestas al Comentario -->
  {% for r in responses %}
    <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{r.user.user.get_full_name}}</strong>
              <br>
              {{r.response}}
              <br>
              <small><a href="#id_response">Responder</a></small>
              {% if r.image_file %}
                <br><br>
                <input type="button" class="button is-link is-rounded" onClick="showResponse({{r.id}});" value="Ver Imagen"/>
                <div class="modal" id="responseModal{{r.id}}">
                  <div class="modal-background"></div>
                  <div class="modal-content" style="width:72%;" >
                    <p class="image">
                      <img src="{{ r.image_file.url }}" alt="">
                    </p>
                  </div>
                  <button class="modal-close is-large" onClick="hideResponse({{r.id}});" aria-label="close"></button>
                </div>
              {% endif %} 
            </p>
          </div>
        </div>
    </article>
    <hr>
  {% endfor %}
  <!-- Fin Respuestas al Comentario -->
  {% if user.profile.is_superviser == ticket.created_by.department and not ticket.is_supervised and not ticket.deleted %}
    <div class="buttons" style="margin:1em;">
        <a class="button is-primary" href="{% url 'supervised_accept' ticket.id %}">
            <span class="icon is-small">
              <i class="fas fa-thumbs-up"></i>
            </span>
            <span>Procede La Solicitud</span>
          </a>
        <a class="button is-warning" href="{% url 'supervised_decline' ticket.id %}">
          <span class="icon is-small">
            <i class="fas fa-thumbs-down"></i>
          </span>
          <span>Rechazar Solicitud</span>
        </a>
    </div>
  {% endif %}

{% if user.profile.is_worker and ticket.is_supervised %}
<!-- Comentario Form -->
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        
      </p>
    </figure>
    <div class="media-content">
      <form method="post" enctype="multipart/form-data" action="{% url 'ticket_view' ticket.id %}">{% csrf_token %}
        <div class="field">
          <p class="control">
            {{response_form.response}}
          </p>
        </div>
        <div class="field has-addons">
            <div class="file">
                <label class="file-label">
                    {{response_form.image_file}}
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Seleccione un Archivo...
                        </span>
                    </span>
                </label>
            </div>
            &nbsp;&nbsp;
          <button type="submit" name="comment" class="button is-primary">Comentar</button>
          &nbsp;&nbsp;
          <button type="submit" name="comment/close" class="button is-warning">Comentar/Cerrar</button>
          &nbsp;&nbsp;
          <div class="control">
            <div class="select">
              <select name="status">
                <option value="0">Cambiar Estatus</option>
                <option value="1">Abierto</option>
                <option value="2">En Proceso</option>
                <option value="3">Cerrado</option>
                <option value="4">Rechazado</option>
              </select>
            </div>
          </div>
          <div class="control">
            <button type="submit" name="change" class="button is-info">Cambiar</button>
          </div>
          &nbsp;&nbsp;
          {% if user.is_staff %}
            <div class="control">
              <div class="select">
                <select name="assign">
                    <option value="">Equipo de {{ ticket.description.department.name }}</option>
                  {% for worker in staff %}
                    <option value="{{ worker.id }}">{{ worker }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="control">
              <button type="submit" name="assign_button" class="button is-info">Asignar</button>
            </div>
          {% endif %}
        </div>
      </form>
    </div>
  </article>
  <br>
{% endif %}
<!-- Fin Comentario Form -->
{% endblock %}